.venv
.git
.idea
__pycache__
*.pyc
*.pyo
*.pyd
.DS_Store
.project
.settings
.vscode
*.swp
*.swo
*.swn
*.log
dist/
build/
*.egg-info
*.egg
/tests
/docs
/examples
/samples
/scripts
/notebooks
/.pytest_cache
/.mypy_cache
/.ruff_cache
/.tox
.coverage
.coverage.*
nosetests.xml
coverage.xml
*,cover
*.log
junit*.xml
report*.xml
*.prof
*.prof.json
*.lprof
celerybeat-schedule
celerybeat.pid
*.out
*.err
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/
.node_repl_history
.pnp
.pnp.js
.yarn/
.yarn-integrity
*.md
!README.md
